<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style/style_recovery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Update password</title>
</head>
<body>
    
    <section class="section_fixed">

        <div class="search_mail_form">

            <img class="logo" src="/images/pngnaku.png" alt="Nakú logo">
            <h5>Grupo Nakú</h5>

            <h4>Actualiza tu contraseña</h4>
            <p>Ingresa una nueva contraseña para tu cuenta vinculada a grupo Nakú</p>

            <p>Ingresa una contraseña segura</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-key-fill"></i>
                </span>
                <input id="psw" type="text" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <p>Confirma tu contraseña</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input id="c_psw" type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <p>Actualizar contraseña</p>
            <button id="send_psw" class="send_email_button">Recuperar contraseña</button>

        </div>

    </section>

    <script src="/javascripts/common/update_password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>