*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.administrative{
    width: 100%;
    height: auto;
  

}
.admin_lo{
    width: 30%;
    height: 100vh;
    background-color:#A4E658;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo_imag{
    width: 50px;
    display: flex;
    margin-bottom: 120%;

}