* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: #242725;
    
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;



}


.sidebar {
    width: 25%;
    background-color:#A4E658;
    color: #fff;
    height:  55rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.logo_naku {
display: flex;
align-items: center;
  margin-left: 5%;
  margin-top: 10%;
}

.logo img {
    width: 70px;
    height: auto; 
    margin-right: 15px; 
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h2:first-child {
    font-size: 20px; 
    color: orange; 
    margin: 0; 
}

.logo-text h2:last-child {
    font-size: 30px; 
    color: rgb(254, 253, 251); 
    margin: 0; 
}
nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.icon-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease;
    background-color: #A4E658;
    border-radius: 30px 0 0 30px; 
    margin-left: 5%;
    

}
.co{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.mex{
    color: #fff;;
    font-size: 10px;
}

.icon-list li svg {
    transition: all 0.3s ease;
}
.icon-list li svg {
    margin-right: 10px; 
  }
  
.icon-list li span {
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.icon-list li:hover {
    background-color: #B8EC7E; 
}

.icon-list li:hover svg path {
    fill: #242725; 
}

.icon-list li:hover span {
    color: #242725; 
}

footer {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-left: 5%;
}
/*  */
.naku {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
height: 55rem !important; 
background-color: #A4E658;
z-index: 0;
position: relative;
}


.main-content_inicio {
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_tienda{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;
}
.main-content_nosotros{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_historia{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_productos{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_equipo{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_testimonios{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_ubicacion{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.main-content_recetas{
    width: 100%;
    height: 100%;
    background-color: #B8EC7E;
    padding: 20px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: space-between;

}
.botones_inicio{
display: flex;
width: 10%;
flex-direction: column; 
gap: 10px; 
align-items: center;
position: relative;
text-align: center;
display: flex;
margin-left: 40px;
justify-content: center;
}
.btn_in:hover {
background-color:#E9EDD2; 
cursor: pointer; 
}
.des{
color: #375A0E;
font-weight: bold;
font-size: 8px;


}
.cb{
color: #375A0E;
font-size: 5px;
}
.a_in{
color: #375A0E;
font-size: 3px;
}
.btn_in{
background-color: rgb(251, 251, 255);
color: #fff;
width: 90px;
height: 90px;
border-radius: 10%;
z-index: 2;
border: none;
justify-content: center;
flex-direction: column; 
justify-content: center;
align-items: center;
}
.btn_in svg {
margin-bottom: 5px; /* Ajusta el espacio entre el SVG y el texto */
}
.rounded-box {
    width: 80%;
    height: 85vh;
    background-color: #9CE24C;  
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    margin: 0 auto;
    position: relative; 
    top: 50px;
    left: 0px; 
}

.ico_tex {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2%;
}

.text-content {
    margin-left: 10px;
}

.small-text {
    font-size: 12px;
    color: #000;
}

.large-text {
    font-size: 20px;
    color: #000;
    margin-top: -15px;
}

.img_text {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.text-content2 {
    margin-left: 10px;
}

.small-text2 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.large-text2 {
    font-size: 12px;
    color: #000;
    margin-top: -15px;
}



.ico_tex {
display: flex;
align-items: center;
margin-left: 10px;
margin-top: 2%;
}

.text-content {
margin-left: 10px;
}

.small-text {
font-size: 12px;
color: #000;
}

.large-text {
font-size: 20px;
color: #000;
margin-top: -15px;
}



.logo {
width: 60px;
height: 60px;
border-radius: 50%;
object-fit: cover;
}

.text-content2 {
margin-left: 10px;
}

.small-text2 {
font-size: 20px;
color: #000;
font-weight: bold;
}

.large-text2 {
font-size: 12px;
color: #000;
margin-top: -15px;
}

.cuadro_tabla{
border-collapse: collapse;
width: 100%;
border: none;
height: 85%;
position: absolute;
margin-top: 10%;
background-color:#E9EDD2;
border-radius: 5%;
}
/* estilos para tabla */
table.styled-table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}
.styled-table {
width: 100%;
border-collapse: collapse;
margin: 25px 0;
font-size: 12px;
text-align: left;
}

.styled-table th,
.styled-table td {
padding: 12px 15px;
}

.styled-table thead tr {
background-color: #981700;
color: #E9EDD2;
text-align: left;
font-weight: bold;
}

.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #E9EDD2; 
}



.styled-table tbody tr:hover {
background-color:#ffa500; 
cursor: pointer; 
}

.styled-table td {
color: #333;
}

.styled-table th {
color: rgb(10, 10, 10);
background-color: #E9EDD2;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
padding: 10px;
text-align: center;
border-radius: 4px;
}

.styled-table td {
text-align: center;
padding: 10px;
border-radius: 4px;
}


/* codigo adaptado a pantallas pequeñas */



/* Botón para mostrar/ocultar menú */
.menu-toggle {
display: none;
position: absolute;
top: 10px;
left: 5px;
background-color: #A4E658;
color: white;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

/* Estilos móviles */
@media (max-width: 768px) {
/* Ocultar el menú parcialmente */
.sidebar {
    width: 250px; /* Ajusta el ancho */
    transform: translateX(-200px); /* Solo muestra un pedazo */
    transition: transform 0.3s ease;
}

/* Botón para mostrar el menú */
.menu-toggle {
    display: block;
}

/* Mostrar el menú completamente al hacer clic */
.sidebar.open {
    transform: translateX(0);
}

/* Reubicar los botones hacia abajo */
.botones_inicio {
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 5%;
    flex-direction: row;
    justify-content: space-around;
}

.btn_in {
    width: 70px;
    height: 70px;
}

/* Hacer la tabla responsiva */
.cuadro_tabla {
    width: 100%;
    overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
}

.styled-table {
    min-width: 600px; /* Asegura que la tabla no se corte en pantallas pequeñas */
}
}




/*----------------------------- General Styles----------------------------- */

.upload_image_and_text{
    background-color: #A7F545;
    border-radius: 25px;
    width: 400px;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1vh 2.5vh ;
    display: none;
}

.upload_image{
    background-color: #A7F545;
    border-radius: 25px;
    padding: 1vh 2.5vh ;
    width: 400px;
    position: fixed;
    display: none;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.upload_text{
    background-color: #A7F545;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    position: fixed;
    display: none;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.image_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh 0 2.5vh 0;
    padding: 0;
}


.logo_upload {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
}



.image_header h2 {
    font-size: 1.5rem;
    color: white;
    margin: 5px 0 0 0;
    margin-right: auto; /* Esto asegura que el texto ocupe el espacio entre el logo y el botón */
}

.close-btn_text, .close-btn_image1, .close-btn_text_and_image{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.upload_image_and_text p{
    margin: 1vh;
}

p {
    color: white;
    margin-bottom: 20px;
}

/* Área de carga de imagen */
.image-upload .upload-area,
.upload-area {
    background-color: #d7d5d5;
    border-radius: 20px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    text-align: center;      /* Centra el texto si es necesario */
    cursor: pointer;

}


/* Estilo del texto dentro del área de carga */
.image-upload p {
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center; /* Asegura que el texto también esté centrado */
    margin: 0;
}

.upload-area:hover {
    background-color: #929292;
    color: white;
}

/* Ocultar input de archivo */
.input-file {
    display: none;
}

/* Footer */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: .8vh 0 .8vh 0;
}

.cancel-btn, .confirm-btn {
    margin-left: 1vh;
    cursor: pointer;
    height: 5vh;
    width: 5vh;

}

#cancel-btn:hover{
    fill:orange;

}
#confirm-btn:hover{
    fill: #06b300;
}



/* --------------------------------------- */
/* Ventana de Ingresar Texto (Text Input) */
/* --------------------------------------- */

.text-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
    height: 40px;
}

.inputtxt {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    color: #666;
    padding: 0;
    margin: 0;
}

.inputtxt:focus {
    outline: none;
}

.word-count {
    color: #B0B0B0;
    font-size: 0.9rem;
    margin-left: 10px;
}
/* adaptacion a pantalla 1920x1080 */
@media (min-width: 1920px) and (min-height: 1080px) {
  

    .sidebar {
        width: 20%;
        background-color: #A4E658;
        color: #fff;
        height: 70rem !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

   
    .main-content_inicio,
    .main-content_tienda,
    .main-content_nosotros,
    .main-content_historia,
    .main-content_productos,
    .main-content_equipo,
    .main-content_testimonios,
    .main-content_ubicacion,
    .main-content_recetas {
        width: 100%;
        height: 70rem !important;
        background-color: #B8EC7E;
        padding: 30px;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }

    .naku {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70rem !important; 
        background-color: #A4E658;
        z-index: 0;
        position: relative;
        }

   
}