@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1f7c8;
    position: relative;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.nav_menu{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 100%;
}

.links_reference{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}

.text_link_reference{
    text-decoration: none;
    color: #64A519;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
}

.text_link_reference:hover{
    color: #F4A568;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
}

.buttons_menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.logo_img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.icons_button {
    background-color: transparent;
    border-style: none;
    margin-left: 12px;
}

.enter_button{
    background-color: #81D520;
    color: #FFF;
    width: 80px;
    height: 35px;
    border-style: none;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 50px;
}

.section_fullscreen{
    width: 100%;
    height: 100vh;
    background-image: url(/images/huevos.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.black_opacity_filter{
    background-color: #00000061;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logo{
    width: 70px;
    height: 70px;
    margin-top: 15vh;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 75px;
    color: #81D520;
    margin-bottom: 20px;
}
.na{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 75px;
    color: #FFF;
}
.ku{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 75px;
    color: #F4A568;
}

.subtitle{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFF;
}

.text_presentation{
    font-size: 20px;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.decorative_wave{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.down_text{
    position: relative;
    bottom: -36vh;
    font-family: 'Poppins';
    color: #FFF;
    font-weight: 600;
    z-index: 0;
}

.mx{
    color: #000;
    font: 500;
}

.icon_help{
    position: relative;
    right: -100vh;
    bottom: -35vh;
}

/* Second section */

.section_vm{
    width: 100%;
    height: 100vh;
}